{% extends 'template.html' %}
{% load static %}
{% block extra_css %}
<link rel='stylesheet' href="{% static 'artist/css/artist.css' %}">
{% endblock %}
{% block content %}

<div id='main'>
	<div class="id-card" role="group" aria-label="ID card sample">
  		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/tateyama.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>

	<div class='id-card'>
		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/tuda.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>
	<div class='id-card'>
		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/okiguchi.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>
	<div class='id-card'>
		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/iida.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>
	<div class='id-card'>
		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/komatsu.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>
	<div class='id-card'>
		<div class="id-card__watermark">SAMPLE</div>

  		<div class="id-card__photo">
    <!-- 画像を差し替え -->
    		<img src="{% static 'artist/gazou/nozoe.gif' %}" alt="顔写真" />
  		</div>
  		<div class="id-card__info">
			<div class="note">
  				ここに説明文や注意書きを入れます。レイアウト確認用のダミーテキストです。
			</div>
 	 	</div>
	</div>
</div>
{% endblock %}