  #container{
    display:flex;
    flex-direction:column;
    padding-top:0px;
    position:relative !important;
    justify-content:flex-start;
    /*gap:20px;*/

  }
  .youtube_area {
      margin-top: 0px;
      width: 100%;
      max-width:700px;
      height: 380px;
      margin:10px 0px;
      border:solid red 3px;
  }

  #first_sec{
    margin-top:10px;
  }

/* =========================================
   2. iPad / タブレット (768px 以上)
   スマホのデザインを「上書き」または「レイアウト変更」します。
   ========================================= */
@media (max-width: 767px) {
.youtube_area {
      width: 100vw;
      max-width:400px;
      height: 215px;
  }
  /* iPadではまだハンバーガーメニューのままで良いなら、ナビ関連は記述しない（スマホの設定を引き継ぐ） */
}

/* =========================================
   3. PC / デスクトップ (1024px 以上)
   さらに画面が広い場合の設定を書きます。
   ========================================= */
@media (min-width:768px)and (max-width: 1024px) {

.youtube_area {
      width: 100vw;
      max-width:600px;
      height: 400px;
      
  }
  }
}
  