{% extends 'template.html' %}
{% load static %} 
{% block extra_css %}

<link rel='stylesheet' href="{% static 'room/css/room.css' %}?v={% now 'U' %}">


{% endblock %} 

{% block content %}
<main>
<div id='container'>
  <section id='first_sec'><p>待機行動について</p></section>
<div class="youtube_area">
  <iframe
    id="frame1"
    width="100%"
    height="100%"
    src="https://www.youtube.com/embed/Tly9Eqtz_JY?si=5yX5HTVGZe_Dzc2H"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
<section><p>プロペラについて</p></section>
<div class="youtube_area">
  <iframe 
  id="frame2"
  width="100%" 
  height="100%" 
  src="https://www.youtube.com/embed/uyay95MPwr0?si=-txU3_75foiTrCJL" 
  title="YouTube video player" 
  frameborder="0" 
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
  referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<div class="youtube_area"></div>
<div id="roomapp">
  <div v-for="(te,i) in test" v-bind:key="i" class="targetdiv"></div>
</div>

</div>
</main>
{% endblock %}
{% block extra_js %}
{{ block.super }}

{% endblock %} 
