{% extends 'template.html' %}
{% load static %}

{% block extra_css %}
<link rel='stylesheet' href="{% static 'gaidline/css/gaidline.css' %}">
{% endblock %}

{% block content %}
<div class="guideline-wrapper">

    <div class="page-header">
        <h1 class="page-title">
            番組の流れ
        </h1>
    </div>

    <section class="content-section">
        <div class="split-container">
            
            <div class="split-item image-area">
                <img src="{% static 'gaidline/gazou/slide1.JPG' %}" class="slide-image">
            </div>

            <div class="split-item text-area">
                <h3 class="text-title">Scene 1. スタート展示解説</h3>
                <p class="text-body">
                    各レース、アクアライブステーションでは展示の水面映像を配信しつつ、
                    元ボートレーサーによりその気配をお伝え致します。<br>
                    ボートレースにおいてスタートは非常に重要な推理要素です。<br>
                </p>
            </div>

        </div>
    </section>
    <section class="content-section">
        <div class="split-container">
            
            <div class="split-item image-area">
                <img src="{% static 'gaidline/gazou/slide2.JPG' %}" class="slide-image">
            </div>

            <div class="split-item text-area">
                <h3 class="text-title">Scene 2. 周回展示解説</h3>
                <p class="text-body">
                    周回展示は「回り足」を重点的に解説する為、１マーク付近の解説席から
                    気配をお伝え致します。
                    また解説者によってはここで推奨の２連単フォーカスを挙げますので、
                    是非予想の参考にしてください。
                </p>
            </div>

        </div>
    </section>
    <section class="content-section">
        <div class="split-container">
            
            <div class="split-item image-area">
                <img src="{% static 'gaidline/gazou/slide3.JPG' %}" class="slide-image">
            </div>

            <div class="split-item text-area">
                <h3 class="text-title">Scene 3. アクアライブブログ</h3>
                <p class="text-body">
                    松山広志氏（ボートレース専門誌で活躍した記者）による<br>
                    レース前の特訓の様子・気配をお伝え致します。<br>
                    当該展示と違い、本来ボートレース場来場者のみが見れる選手の
                    特訓の様子で、予想の精度向上を狙います。        
                </p>
            </div>

        </div>
    </section>
    <section class="content-section">
        <div class="split-container">
            
            <div class="split-item image-area">
                <img src="{% static 'gaidline/gazou/slide3.JPG' %}" class="slide-image">
            </div>

            <div class="split-item text-area">
                <h3 class="text-title">Scene 4. 展示タイム</h3>
                <p class="text-body">
                    松山広志氏（ボートレース専門誌で活躍した記者）による<br>
                    レース前の特訓の様子・気配をお伝え致します。<br>
                    当該展示と違い、本来ボートレース場来場者のみが見れる選手の
                    特訓の様子で、予想の精度向上を狙います。        
                </p>
            </div>

        </div>
    </section>
    <section class="content-section">
        <div class="split-container">
            
            <div class="split-item image-area">
                <img src="{% static 'gaidline/gazou/slide3.JPG' %}" class="slide-image">
            </div>

            <div class="split-item text-area">
                <h3 class="text-title">Scene 5. レース解説</h3>
                <p class="text-body">
                    松山広志氏（ボートレース専門誌で活躍した記者）による<br>
                    レース前の特訓の様子・気配をお伝え致します。<br>
                    当該展示と違い、本来ボートレース場来場者のみが見れる選手の
                    特訓の様子で、予想の精度向上を狙います。        
                </p>
            </div>

        </div>
    </section>
</div>
{% endblock %}