.gallery:nth-child(1){
	margin-top:65px;
}
.gallery{
	margin:0;
	width:100vw;
	aspect-ratio:16/11;
}

.imgarea{
	
	width:100vw;
	aspect-ratio: 16 / 9;
	
}

.imgarea img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.caption{
	margin-bottom:5px;
}